body {
  background-color: bisque;
}

.Quote-head {
  text-align: center;
  font-size: 60px;
}

.Quote-body {
  width: 50%;
  font-size: 20px;
  text-align: center;
  margin-left: 25%;
  margin-top: -2%;
}

.Quote-author {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.loaders {
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
}
